# update with required information and save it as
#	setup.config file
[psqldb]
database=PSQLDB
host=PSQLHOST
password=PSQLPASS
port=5432
user=PSQLUSER

[service]
APP_SECRET_KEY=APP_SECRET_KEY
CSRF_PROTECTION_KEY=CSRF_PROTECTION_KEY
DOCKER_HOST_URI=DOCKER_HOST_URI
ENCRYPTION_KEY=text_encryption.key
ENDPOINT_URL=
IDENTITY=IDENTITY
JWT_SECRET_KEY=JWT_SECRET_KEY
LLMS=LLMS
MEDLLMS=MEDLLMS
OLLAMA_API_URL=OLLAMA_API_URL
PATIENT_DATA_ENCRYPTION_ENABLED=True
SRVC_HOST_IP=0.0.0.0
SRVC_HOST_PORT=5009
SRVC_LOG_LEVEL=info
SRVC_NAME=SRVC_NAME
SRVC_SHARED_SECRET=SRVC_SHARED_SECRET
SRVC_TIMEOUT=12345
SRVC_WORKERS=2
SSL_CERT=cert.pem
SSL_KEY=key.pem
