# update with required information and save it as
#	setup.config file
[psqldb]
host=PSQLHOST
port=5432
database=PSQLDB
user=PSQLUSER
password=PSQLPASS

[service]
IDENTITY=IDENTITY
SRVC_NAME=SERVICE_NAME
JWT_SECRET_KEY=JWT_SECRET_KEY
SRVC_SHARED_SECRET=SRVC_SHARED_SECRET
APP_SECRET_KEY=APP_SECRET_KEY
CSRF_PROTECTION_KEY=CSRF_PROTECTION_KEY
ENDPOINT_URL=
OLLAMA_API_URL=OLLAMA_API_URL
LLMS=OLLAMA_LLM
MEDLLMS=OLLAMA_MEDLLM
ENCRYPTION_KEY=text_encryption.key
PATIENT_DATA_ENCRYPTION_ENABLED=True
SSL_CERT=cert.pem
SSL_KEY=key.pem
DOCKER_HOST_URI=DOCKER_HOST_URI
